extends layout

block content
    h1= title
    ul.list-group
        each button in buttons
            li.list-group-item(style="position:relative")
                div
                    strong=button.name
                div="port: " + button.port
                div(style="position:absolute;right:5px;top:5px")
                    input.switch(type="checkbox",name="state",checked=button.state == 1,button_id=button._id)
                    a.btn.btn-danger(href="/delete-button?id=" + button._id,style="margin-left:5px") delete
    script.
        $(".switch").bootstrapSwitch();
        $("input.switch").on('switchChange.bootstrapSwitch', function (event, state) {
            var data = {};
            data['id'] = $(this).attr('button_id');
            if (state) {
                data['state'] = 1;
            } else {
                data['state'] = 0;
            }
            $.post("/change-state", data, function (result) {
                console.log(result);
            });
        });