doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Adruino project
        // Bootstrap Core CSS
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        // Custom CSS
        link(href='/css/style.css', rel='stylesheet')
        // Bootstrap switch
        link(href="/css/bootstrap-switch.min.css",rel="stylesheet")
        // jQuery
        script(src='/js/jquery.js')
        // Bootstrap Switch
        script(src='/js/bootstrap-switch.min.js')
    body
        #wrapper
            // Sidebar
            #sidebar-wrapper
                ul.sidebar-nav
                    li.sidebar-brand
                        a(href='/')
                            | Adruino project
                    li
                        a(href='/') Danh sách thiết bị
                    li
                        a(href='/create-button') Tạo thiêt bị mới
                    li
                        a(href='/figures') Thông số
            // /#sidebar-wrapper
            // Page Content
            #page-content-wrapper
                block content
            // /#page-content-wrapper
        // /#wrapper
        // Bootstrap Core JavaScript
        script(src='/js/bootstrap.min.js')
        // Menu Toggle Script
        script.
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });



